{% include "base.html" %}

{% block content %} 
<div class="uk-flex-middle">
<div class="uk-card uk-card-default">
  <div class="uk-card-header">
    <h1 class="uk-text-center">Upload Video</h1>
  </div>
  <div class="uk-card-body">
    {% comment %} <form action="" method="post"> {% endcomment %}
          <div class="uk-form-group">
          {% csrf_token %}
          <input id="video-upload-file" type="file">
          <hr><div class="uk-text-center">
          <input type="submit" value="Submit" class="uk-button uk-button-default" onclick=upload_file_func() /></div>
          </div>
      {% comment %} </form> {% endcomment %}
  </div>
</div> 
</div>
{% load staticfiles %}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}

{% block extra_js %}
{% endblock extra_js %}